bin/*
data

# Examples are WIP
examples/

# Documentation and README is WIP
docs/
IMPLEMENTATION_STATUS.md
INTEGRATION_COMPLETE.md
README.md

# Integration test code will be revised
test_integration.go